# Ignore the data file and folder
**/data
*.csv
*.xlsx
*.pkl
*.pickle
*.json

# Ignore the credential files
**/credentials.json
**/token.pickle
**/credentials

# Ignore checkpoints and logs
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/.cache
**/.env
**/.config
**/.jupyter
**/.npm
**/.local

# Ignore other files
*.jpg
*.png
*.mp4
**/test.ipynb
